@media only screen and (max-width: 768px ) {

 .main {
    padding-top: 20px;
    padding-left: 60px;

 }

 .info {
    padding: 50px 30px;
    margin-top: 50px;
 }

 .image {
    padding-top: 340px;
    padding-left: 5px;
    max-width: 350px;
 }

 .image-2 {
    padding-top: 440px;
    padding-left: 5px;
    max-width: 350px;
}
 .interes {
   padding-left: 40px;
 }

 .media, .novigation {
    padding-top: 140px;
 } 

 .media {
    padding-left: 140px;
 }

 .text-2 {
    max-width: 100%;
    padding: 20px;
 }

 .bea {
    display: none;
 }
 .bea-2 {
    display: none;
 }

 .menu {
    margin-left: -10px;
 }

 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 40px;
   margin-left: -30px;
 }

 .end-16 {
   display: none;
 }

 .a {
   display: none;
 }

 p {
   top: 20px;
   margin-left: -25px;
 }


.main, h1 {
   display: inline-block; 
   margin-left: -10px;
   max-width: 300px;
   bottom: 10px;
 }

 .h2, .h3 {
   padding-left: 0px;
   font-size: 60px;
   line-height: 2px;
 }

 h3 {
   margin-left: -30px;
 }
 .rectangle, .rectangle-2 {
   max-width: 300px;
 }

 .buttons {
   margin-left: -30px;
 }

}

